.filtersContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.searchBar,
.cuisineDropdown,
.categoryDropdown {
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 200px;
  color: black;
}

.searchBar:focus,
.cuisineDropdown:focus,
.categoryDropdown:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

.menuContainer {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

.menuTitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #e53935;
}

.menuItemsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 10px;
  color: white;
  cursor: pointer;
  transition: transform 0.4s;
}

.flip-card:hover {
  transform: scale(1.05);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
}

.flip-card-front {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}

.flip-card-back {
  background-color: #fff;
  color: #333;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  box-sizing: border-box;
  text-align: center;
}

.menuItemImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #4caf50;
}

.menuItemDetails {
  padding: 10px;
}

.menuItemNamePrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuItemName {
  font-size: 1.2rem;
  color: #4caf50;
}

.menuItemPrice {
  font-size: 1rem;
  color: #795548;
  font-weight: bold;
}

.menuItemWaitingTime {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #757575;
}

.quantitySelector {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.quantitySelector button {
  padding: 3px 6px;
  font-size: 0.8rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quantitySelector button:hover {
  background-color: #45a049;
}

.quantitySelector span {
  font-size: 0.8rem;
}

.addToCart {
  background-color: grey;
  padding: 3px 6px;
  font-size: 0.8rem;
  border-radius: 3px;
  color: #fff;
}
