.homeContainer {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

.welcomeMessage {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #e53935;
}

.searchBarContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.searchBar {
  width: 50%;
  max-width: 300px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  border-color: #4caf50;
  color: #333;
}

.searchBar::placeholder {
  color: #999;
}

.restaurantContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.cardImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #4caf50;
}

.cardName {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #795548;
}

.sidePanel {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; 
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
}

.sidePanelContent {
  padding: 20px;
}

.closeButton {
  font-size: 1.5rem;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  transition: color 0.2s;
}

.closeButton:hover {
  color: #e53935;
}

.sidePanelTitle {
  font-size: 2rem;
  color: #e53935;
  margin-bottom: 20px;
}

.sidePanelMenuItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidePanelMenuItem {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.sidePanelMenuItem:hover {
  transform: scale(1.05);
}

.sidePanelMenuItemName {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin: 0;
}

.error {
  color: #e53935;
  margin-top: 20px;
}
